:root {
  --color-main: #333;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--color-main);
  max-width: 960px;
  margin: auto;
  padding: 0.25rem 3rem;

  font-size: 1.6em;
}
